MobileSAPIntegrationService/Tests/Diagnostics.Tests/ConsoleApplication1/Service References/ServiceReference1/MobileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MobileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49578/MobileService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49578/MobileService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49578/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KonicaMinolta.SAP.Integration.Service" />
      <xsd:import schemaLocation="http://localhost:49578/MobileService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobileService_SavePDF_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePDF" />
  </wsdl:message>
  <wsdl:message name="IMobileService_SavePDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePDFResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetPDF_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPDF" />
  </wsdl:message>
  <wsdl:message name="IMobileService_GetPDF_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPDFResponse" />
  </wsdl:message>
  <wsdl:message name="IMobileService_doZaBAPI_InputMessage">
    <wsdl:part name="parameters" element="tns:doZaBAPI" />
  </wsdl:message>
  <wsdl:message name="IMobileService_doZaBAPI_OutputMessage">
    <wsdl:part name="parameters" element="tns:doZaBAPIResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobileService">
    <wsdl:operation name="SavePDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/SavePDF" message="tns:IMobileService_SavePDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/SavePDFResponse" message="tns:IMobileService_SavePDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPDF">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/GetPDF" message="tns:IMobileService_GetPDF_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/GetPDFResponse" message="tns:IMobileService_GetPDF_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doZaBAPI">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobileService/doZaBAPI" message="tns:IMobileService_doZaBAPI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobileService/doZaBAPIResponse" message="tns:IMobileService_doZaBAPI_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMobileService" type="tns:IMobileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SavePDF">
      <soap:operation soapAction="http://tempuri.org/IMobileService/SavePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPDF">
      <soap:operation soapAction="http://tempuri.org/IMobileService/GetPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doZaBAPI">
      <soap:operation soapAction="http://tempuri.org/IMobileService/doZaBAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MobileService">
    <wsdl:port name="BasicHttpBinding_IMobileService" binding="tns:BasicHttpBinding_IMobileService">
      <soap:address location="http://localhost:49578/MobileService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>