MobileSAPIntegrationService/SAP.Integration.Tests/Service References/ServiceReference1/MobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KonicaMinolta.SAP.Integration.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KonicaMinolta.SAP.Integration.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGOODSMVT_ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GOODSMVT_ITEM" nillable="true" type="tns:GOODSMVT_ITEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGOODSMVT_ITEM" nillable="true" type="tns:ArrayOfGOODSMVT_ITEM" />
  <xs:complexType name="GOODSMVT_ITEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ENTRY_QNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STGE_LOC" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GOODSMVT_ITEM" nillable="true" type="tns:GOODSMVT_ITEM" />
  <xs:complexType name="ArrayOfTIMETICKETS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TIMETICKETS" nillable="true" type="tns:TIMETICKETS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTIMETICKETS" nillable="true" type="tns:ArrayOfTIMETICKETS" />
  <xs:complexType name="TIMETICKETS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACT_WORK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACT_WORK_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONF_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXEC_FIN_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXEC_FIN_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXEC_START_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXEC_START_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EX_CREATED_BY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EX_CREATED_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EX_CREATED_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIN_CONF" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPERATION" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TIMETICKETS" nillable="true" type="tns:TIMETICKETS" />
</xs:schema>